.favourite-beers {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.favourite-beers-list {
  list-style: none;
}

.favourite-beers-list-item {
  margin: 0 auto;
  padding: 15px 20px;
  width: 60%;
  margin-bottom: 20px;
  box-shadow: 1px 4px 3px 0px #ccc;
}

.favourite-beers-list-item h3 {
  margin: 0;
}

.item-description {
  width: 80%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: left;
}

.item-tagline {
  margin-top: 5px;
  font-size: 14px;
  color: #aaa;
}

.favourite-beers-list-item img {
  display: block;
  margin: 0 auto;
  height: 100px;
}

.item-picture {
  width: 10%;
}

.open-single-beer {
  font-weight: 700;
  color: #000;
}

.open-single-beer-link {
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-weight: 700;
  color: #000;
}

.remove-favourite {
  cursor: pointer;
}
