.beer-stats {
    display: flex;
    width: 100%;
}

.properties {
    width: 50%;
}

.properties-item {
    padding: 10px 15px 10px;
    width: 60%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.properties-count {
    color: #fff;
    background-color: #999;
    padding: 5px 10px;
    border-radius: 15px;
}

.properties-name {
    display: flex;
    align-items: center;
    position: relative;
}

.tooltip {
    cursor: default;
    margin-left: 10px;
    padding: 1px 8px;
    border: 1px solid #000;
    border-radius: 10px;
    &:hover {
        + {
            .tooltip-description {
                display: block;
            }
        }
    }
}

.tooltip-description {
    color: #fff;
    background-color: rgb(0, 81, 255);
    border: 1px solid black;
    display: none;
    padding: 3px 5px;
    border-radius: 9px;
    margin-left: 10px;
}

.food-pairing {
    width: 50%;
}

.food-pairing-list {
    list-style: none;
    padding-left: 0;
}

.food-pairing__item {
    width: 70%;
    padding: 15px 15px 15px;
    border: 1px solid #ccc;
    &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}
